{% extends "base.html" %}

{% load static %}

{% block content %}
<title>Size Me Up</title>

<section class="px-4" style="margin-top: 10vw; margin-bottom: 10vw;">
  <div class="container-fluid" style="margin-bottom: 5vw;">
      <div class="col-sm">
          <h1 style="font-weight: 600;" class="row display-5 fadeInLeft">Size your clothing in 3 shorts steps</h1>
          <!-- <h5 style="font-weight: 600; animation-duration: 500ms;" class="row fadeInLeft">Size your clothing in 3 shorts step.</h5> -->
          <p class="row fadeInLeft fs-6" style="width: 50vw; animation-duration: 400ms;">
            Simplifying sizing clothing through simple computer vision and machine learning algorithms.
          </p>
          <!-- <span class="row fadeInLeft" style="animation-duration: 300ms;">Scroll to read more</span> -->
      </div>
      <div></div>
  </div>
  <!-- <div class="row d-flex justify-content-center">
      <div class="col-1">
          <a href="#Skills" style="text-decoration: none;color: #F2F7F2;"><span class="material-symbols-outlined fs-2">expand_more</span></a>
      </div>
  </div> -->
</section>    
{% endblock %}
    
    <!-- Profile Bio -->
